@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

$white1: #B9BAA3;
$white2: #D6D5C9;
$red1: #A22C29;
$red2: #902023;
$dark: #121113;
$font1: 'Roboto';
$font2: 'Fira Code';

body {
    margin:0px;
    padding: 0px;
    background-color: $dark;
}

  