:root {
    --main-color: #bf0404;
    --scondary-color: #f23d4c;
    --back-color: #121113;
    --back-secondary-color: #1A1919;
    --text-color: #EaEaEa;
    --icon-color: #590202;
    --kill-streak-color: #121113;
    --degrade-primary-color: #a22c29;
    --degrade-secondary-color: #902923;
}

/*:root:not(.light) {
    --main-color: #fff;
    --back-color: #000;
    --text-color: #c1121f;
}

:root.light {
    --main-color: #000;
    --back-color: #e5e5e5;
    --text-color: #8b0000;
}*/

/*Debug*/
@keyframes shiny {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Main */
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--back-color);
}

a {
    text-decoration: none;
    color: var(--scondary-color);
}

.link { /*honteusement inspiré (volée) à: https://alexdeanwebdesign.com/about*/
    background: linear-gradient(23deg, var(--scondary-color), var(--scondary-color), var(--scondary-color), var(--scondary-color), var(--back-color), var(--scondary-color), var(--scondary-color), var(--scondary-color));
    background-size: 1600% 1600%;
    -webkit-animation: shiny 8s ease infinite;
    -moz-animation: shiny 8s ease infinite;
    -o-animation: shiny 8s ease infinite;
    animation: shiny 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-link {
    background: linear-gradient(23deg, #fff, #fff, #fff, #fff, transparent, #fff, #fff, #fff);
    background-size: 1600% 1600%;
    -webkit-animation: shiny 8s ease infinite;
    -moz-animation: shiny 8s ease infinite;
    -o-animation: shiny 8s ease infinite;
    animation: shiny 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.github-link:active {
    transform: scale(0.7);

}

h1, h2, h3, h4, h5, h6, p, span {
    color: var(--text-color);
}

h2 {
    text-shadow: var(--main-color) 2px 2px 4px;
}

#loading_bar {
    display: block;
}

#loading_bar {
    position: fixed;
    width: 0;
    height: 20px;
    background: lightgreen;
    border-radius: 10px;
    top: 50%;
    left: 10vw;
    transform: translate(0, -50%);
    z-index: 5;
    transition: ease 3s;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-shadow: #121113 2px 2px 2px;
}

.nav-text {
    vertical-align: middle;
    font-weight: bolder;
}

.nav-image {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding: 12px;
    text-shadow: none;
    text-decoration: none;
    filter: invert();
}

.nav-container:hover > .nav-image {
    width: 32px;
    height: 32px;
    padding: 8px;
}

.nav-image:active {
    width: 20px;
    height: 20px;
}

.nav-container:hover:has(>.nav-text[datahover="true"])::after{
    content: attr(data-name);
    color: var(--text-color);
    text-shadow: var(--main-color) 2px 2px 4px;
    font-weight: bolder;
    vertical-align: middle;
    background: var(--back-color);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 2px 2px 9px 3px rgba(255, 128, 128, 0.3);
}
/* All pages */
.page {

    min-height: 100vh;
    height: auto;
    padding-left: 64px; /* 64px = 32px (nav-image) + 32px (margin) */
}



.page > h1 {
    font-size: 3em;
    text-align: center;
    padding: 10px;
}

@media (max-width: 400px) {
    .page > h1 {
        font-size: 1.5em;
    }

}

.page > h2 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

/* Home page */
#home > .page-content > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: min(400px, 40vw, 40vh);
    width: 100%;
    z-index: 0;
}



/* Code page */
#code > .page-content {
    min-height: calc(100vh - 64px);
    height: auto;
}

.code-preview{
    columns: 400px;
    break-inside: avoid;
}

.code-preview > div {
    break-inside: avoid-column;
    margin: 20px;
    display: inline-block;
    padding: 0;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    background: linear-gradient(#0e1011, #09090a) padding-box, linear-gradient(to bottom, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.08)) border-box;
}

.code-preview > div::after {
    content: "";
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.code-preview > div:hover::after {
    content: "";
    box-shadow: 2px 2px 9px 3px rgba(255, 128, 128, 0.3);
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.illustration {
    width: 100%;
    height: auto;
}

#code > .page-content > .code-preview > div > h3 {
    color: var(--text-color);
    padding: 0 10px 10px;
}

#code > .page-content > .code-preview > div > p {
    color: var(--text-color);
    padding: 10px;
    margin-right: 100px;
}

.code-preview .github-link {
    z-index: 5;
    width: 48px;
    padding: 10px;
    filter: invert();
}

.code-preview .icons-links {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

}



/*
#code > .page-content > .code-preview {
    position: relative;
}

#code > .page-content > .code-preview > div {
    width: 60vw;
    border-radius: 9px;
    position: relative;
    z-index: 2;

}

#code > .page-content > .code-preview > div[data-status="inactive"] {
    display: none;
}

#code > .page-content > .code-preview > div > .container {
    position: static;
    overflow: hidden;
    border-radius: 10px;
}

#code > .page-content > .code-preview > div > .container > .illustration {
    width: 100%;
}

#code > .page-content > .code-preview > div > .container:hover {

}

#code > .page-content > .code-preview > div > h3 {
    position: absolute;
    bottom: 40px;
    left: 16px;
    padding: 10px;
    color: var(--back-color);
    text-shadow: var(--main-color) 2px 2px 2px;

}

#code > .page-content > .code-preview > div > p {
    position: absolute;
    bottom: 16px;
    padding: 10px;
    left: 32px;
    color: var(--back-color);
    text-shadow: var(--main-color) 2px 2px 2px;
}

#code > .page-content > .code-preview > div > a > .github-link {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 5;
    width: 48px;
}


#character {
    position: absolute;
    top: 0px;
    transition: 1s ease;
    z-index: 0;
}

#character-img {
    position: absolute;
}

#character > .eye-container {
    position: absolute;
    z-index: 1;
}

#character > a > .monster {
    position: absolute;
    z-index: 1;
    height: 40px;
    left: 90px;
    top: 70px;
}

#left-eye-img, #right-eye-img {
    width: 100%;
    border-radius: 50%;
}

@media (max-width: 600px) {
    #character {
        display: none;
    }
}


/ TODO is code here? /
#game-left-button, #game-right-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    filter: invert();
    z-index: 4;
}

#game-left-button > img, #game-right-button > img {
    width: 24px;
    padding: 12px;
}

#game-left-button {
    left: 0;
    background: linear-gradient(to left, transparent, #fff);
}

#game-right-button {
    right: 0;
    background: linear-gradient(to left, #fff, transparent);
}
*/
/* Games Page */
#game > .page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: calc(100vh - 64px);
    height:auto;
    gap: 20px;
    padding: 30px;
}

@media (max-width: 700px) {
    #game > .page-content {
        flex-direction: row;
        gap: 100px;
    }
}

#game > .page-content > .games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--text-color);
    width: 260px;
    height: auto;
    text-align: center;
    border-radius: 3px;
}

#game > .page-content > .games:hover {
    box-shadow: 2px 2px 9px 3px rgba(255, 128, 128, 0.3);
}
#game > .page-content > .games {
    border: 2px solid transparent;
    transition: all 0.1s ease-in-out;
}


#game > .page-content > .games > .image {
    width: 200px;
    height: 200px;
    margin: 10px 10px 0;
    padding: 20px;
    image-rendering: pixelated;

}

#game > .page-content > .games > #globs-image {
    width: 200px;
    height: auto;
    margin: 10px 10px 0;
    padding: 86px 20px 86px 20px;
}

@media (max-width: 700px) {
    #game > .page-content > .games {
        transform: scale(0.7);
    }
}

#game > .page-content > .games > #anchorsMiners-image {
    background: #7E2553;
}

#game > .page-content > .games > #chaserOfDawn-image {
    background: black;
}

#game > .page-content > .games > #globs-image {
    background: rgb(27, 33, 72);
}


#game > .page-content > .games > #Octoboom-image {
    background: rgb(85, 98, 180);
    background: linear-gradient(9deg, rgba(85, 98, 180, 1) 0%, rgba(99, 155, 255, 1) 100%);
}

span.game-title {
    color: var(--back-color);
    padding-bottom: 10px;
    vertical-align: 5px;
    font-weight: bold;
}

#game > .page-content > .games:nth-child(1) {
    transform: scale(0.7) rotate(-5deg);
}
#game > .page-content > .games:nth-child(4) {
    transform: scale(0.8) rotate(5deg);
}
#game > .page-content > .games:nth-child(3) {
    transform: scale(0.9) rotate(-4deg);
}

#game > .page-content > .games:nth-child(2) {
    transform: scale(1) rotate(8deg);
}



/* Flag page */
#flag > .page-content {
    min-height: calc(100vh - 64px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flag > .page-content > p {
    padding: 20px;
}

/* About page */
#about > .page-content {
    min-height: calc(100vh - 64px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about > .page-content > div {
    display: flex;
    height: 50%;
}

#about > .page-content > .description {
    display: flex;
    height: 50%;
}

#about > .page-content > .description > p {
    text-align: center;
    margin: 0 auto;
    padding: 20px ;
}

#about > .page-content > .path {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
}

/*#about > .page-content > .path > .education {
    background: rgba( 152, 22, 22, 0.65 );
    box-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.37);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}*/

/*https://leonardo.ai*/
#about > .page-content > .path > .education:hover {
    background: linear-gradient(#0e1011, #0f1012) padding-box, linear-gradient(to bottom, rgba(219, 81, 81, 0.28), rgba(244, 75, 75, 0.32), #6e7bfc2b) border-box;
    border-radius: 22px;
    box-shadow: 2px 2px 9px 3px rgba(255, 128, 128, 0.3);
}
#about > .page-content > .path > .education {
    background: linear-gradient(#0e1011, #09090a) padding-box, linear-gradient(to bottom, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.08)) border-box;
    border-radius: 22px;
    border: 2px solid transparent;
    transition: all 0.1s ease-in-out;
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 10px auto;
    overflow: hidden;
    --x: 0;
    --y: 0;
}


#about > .page-content > .path > .education:hover > .moving-element {
    position: relative;
    top: var(--y);
    left: var(--x);
    background-image: radial-gradient(circle, rgba(219, 81, 81, 0.28) 0%, rgba(244, 75, 75, 0.32) 17%, rgba(0,0,0,0) 41%);
    border-radius: 60px;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    filter: blur(10px);
}

#about > .page-content > .path > .education > .moving-element {
    width: 10px;
    height: 10px;
    transition: width 0.7s, height 0.7s;
}



/*
.education::after {
    background: var(--back-color);
    opacity: 0.6;
    content: "";
    display: inline-block;
    position: relative;
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transform: translateY(calc(-50% - 2px));
    border-radius: 9px;
    z-index: 1;
}*/

#about > .page-content > .path > .education > img {
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    float: left;
    margin: 0 auto 0 30px;
    z-index: 2;
}

#about > .page-content > .path > .education > .text {
    text-align: right;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
}

@media (max-width: 700px) {
    #about > .page-content > .path > .education {
        transform: scale(0.7);
    }

    #about > .page-content > .path > .education > .text {
        font-size: 12px;
    }

}

/* Contact page */
#contact {
    background: linear-gradient(var(--back-color), var(--main-color));
}

#contact > .page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    align-self: center;
    width: 100%;
    min-height: calc(100vh - 2em - 25px);
    height: auto;
}

@media (max-width: 768px) {
    #contact > .page-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        align-self: center;
        width: 100%;
        min-height: calc(100vh - 2em - 25px);
        height: auto;
    }

}

#contact > .page-content > a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

/*#contact > .page-content > a > */
img.contact-img {
    width: 100px;
    padding-bottom: 10px;
    filter: invert();
    margin: 20px;
}

lottie-player.contact-img {
    width: 100px;
    padding-bottom: 10px;
    filter: invert();
}


#contact > .page-content > a:hover {
    transform: translate(0px, -20px);
}

/*#contact > .page-content > */a:active > .contact-img {
    width: 80px;
}

.triangle::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: var(--kill-streak-color) transparent;
    display: block;
    width: 0;
}
.triangle{
    display: none;
    position: absolute;
    padding: 15px;
    margin: 1em 0 3em;
    color: #fff;
    background: var(--kill-streak-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 50%;
    transform: translate(0, calc(-50% - 140px));
    font-weight: bold;
}

#contact-discord:hover > .triangle{
    display: block;
}


/* Sert en mod GODLIKE discord easter egg*/
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, calc(-50% - 140px)) translate(0, 0) rotate(0deg); }
    25% { transform: translate(0, calc(-50% - 140px)) translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, calc(-50% - 140px)) translate(0, 0) rotate(0deg); }
    75% { transform: translate(0, calc(-50% - 140px)) translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, calc(-50% - 140px)) translate(0, 0) rotate(0deg); }
}

/*
#twitterbox {
    display: block;
    position: relative;
}
#twitterbox > img:not(:only-child):nth-child(1) {
    display: none;
    position:relative;
    z-index:3;
}
#twitterbox:hover>img:nth-child(1){
    display: block;
    z-index:1;
}
#twitterbox>img:nth-child(2){
    display: block;
    position:relative;
    z-index:2;
}
#twitterbox:hover>img:nth-child(2){
    display: none;
    position:relative;
    z-index:2;
}

#twitterbox > img{
    transition: ease 0.5s;
}
*/
