/*@import 'tailwindcss';
@plugin '@tailwindcss/forms';
/* @plugin '@tailwindcss/typography';*/

:root {
    --main-color: #bf0404;
    --scondary-color: #f23d4c;
    --back-color: #121113;
    --back-secondary-color: #1A1919;
    --text-color: #EaEaEa;
    --icon-color: #590202;
    --kill-streak-color: #121113;
    --degrade-primary-color: #a22c29;
    --degrade-secondary-color: #902923;
    --background-color: rgba(255, 255, 255, 0.1);

}

/*:root:not(.light) {
    --main-color: #fff;
    --back-color: #000;
    --text-color: #c1121f;
}

:root.light {
    --main-color: #000;
    --back-color: #e5e5e5;
    --text-color: #8b0000;
}*/

/*Debug*/
@keyframes shiny {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Main */
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--scondary-color);
}

.link { /*honteusement inspiré (volée) à: https://alexdeanwebdesign.com/about*/
    background: linear-gradient(23deg, var(--scondary-color), var(--scondary-color), var(--scondary-color), var(--scondary-color), var(--back-color), var(--scondary-color), var(--scondary-color), var(--scondary-color));
    background-size: 1600% 1600%;
    -webkit-animation: shiny 8s ease infinite;
    -moz-animation: shiny 8s ease infinite;
    -o-animation: shiny 8s ease infinite;
    animation: shiny 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-link {
    background: linear-gradient(23deg, #fff, #fff, #fff, #fff, transparent, #fff, #fff, #fff);
    background-size: 1600% 1600%;
    -webkit-animation: shiny 8s ease infinite;
    -moz-animation: shiny 8s ease infinite;
    -o-animation: shiny 8s ease infinite;
    animation: shiny 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.github-link:active {
    transform: scale(0.7);

}

h1, h2, h3, h4, h5, h6, p, span {
    color: var(--text-color);
}

h2 {
    text-shadow: var(--main-color) 2px 2px 4px;
}

#loading_bar {
    display: block;
}

#loading_bar {
    position: fixed;
    width: 0;
    height: 20px;
    background: lightgreen;
    border-radius: 10px;
    top: 50%;
    left: 10vw;
    transform: translate(0, -50%);
    z-index: 5;
    transition: ease 3s;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-shadow: #121113 2px 2px 2px;
}

.nav-text {
    vertical-align: middle;
    font-weight: bolder;
}

.nav-image {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding: 12px;
    text-shadow: none;
    text-decoration: none;
    filter: invert();
}

.nav-container:hover > .nav-image {
    width: 32px;
    height: 32px;
    padding: 8px;
}

.nav-image:active {
    width: 20px;
    height: 20px;
}

.nav-container:hover:has(>.nav-text[datahover="true"])::after{
    content: attr(data-name);
    color: var(--text-color);
    text-shadow: var(--main-color) 2px 2px 4px;
    font-weight: bolder;
    vertical-align: middle;
    background: var(--back-color);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 2px 2px 9px 3px rgba(255, 128, 128, 0.3);
}

img.contact-img {
    width: 100px;
    padding-bottom: 10px;
    filter: invert();
    margin: 20px;
}
